<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} </title>
	<link rel="stylesheet"
	      href="https://yastatic.net/s3/lyceum/frontend/static/hed_at_42efdced-42efdcedd6/desktop-ru/client.css"/>
	{% block material_style %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>